// fonts
$fonts-primary: 'Inter', sans-serif;
$fonts-title: 'Poppins', sans-serif;

//colors
$color-primary: #0284c7;
$color-primary-dark: #075985;
$color-primary-light: #bfdbfe;
$color-primary-bg-light: #e0f2fe;
$color-secondary: #0f172a;
$color-white: #fff;
$color-gray: #9CA3AF;
$color-gray-dark: #515664;
$color-gray-dark2: #373b46;
$color-gray-light: #CBD5E1;
$color-bg: #f0f5f6;
$color-bg-light: #fafafa;

$color-primary-light2: #0284c725;

$color-success: #258F1C;
$color-success-dark: #1a7412;
$color-success-light: #268f1c25;

$color-info: #0EA5E9;
$color-info-light: #0EA5E925;

$color-warning: #DA700E;
$color-warning-light: #F59E0B25 ;

$color-danger: #DC2626;
$color-danger-light: #DC262625 ;

$color-placeholder: #7e7b82;
$color-input-border: #bae6fd;

$shadow-primary: #0284c725;
$shadow-white: #F5F3FF35;
